.contenedor1{
 	background-color: #1abc9c;
      color: #ffffff;
}
.contenedor2 { 
      background-color: #474e5d;
      color: #ffffff;
  }
  .contenedor3 { 
      background-color: #ffffff;
      color: #555555;
  }
 .miFit{
}
.esconderFotoPeq{
	display: none;
}
.esconder1{
	display: block;
}
.esconder2{
	display: none;
}
.esconder3{
	display: none;
}
.esconderTA{
  display: none;
}